@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Remove as setas do input number para navegadores baseados em WebKit (Chrome, Edge, Safari) */
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
      @apply appearance-none;
    }
    /* Remove as setas do input number no Firefox */
    .no-spinner {
      -moz-appearance: textfield;
    }
  }

  @tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Remove as setas do input number para navegadores baseados em WebKit (Chrome, Edge, Safari) */
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
      @apply appearance-none;
    }
    /* Remove as setas do input number no Firefox */
    .no-spinner {
      -moz-appearance: textfield;
    }
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 142 86% 28%;
      --primary-foreground: 356 29% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 45%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 72% 51%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 142 86% 28%;
      --chart-1: 170 88% 28%; 
  --chart-2: 170 75% 35%; 
  --chart-3: 170 70% 45%; 
  --chart-4: 170 65% 55%; 
  --chart-5: 170 60% 65%; 
  --chart-6: 170 85% 35%; 
  --chart-7: 170 80% 40%; 
  --chart-8: 170 75% 50%; 
  --chart-9: 170 70% 60%; 
  --chart-10: 170 60% 70%;
  --chart-11: 170 90% 25%;
  --chart-12: 170 85% 30%;
  --chart-13: 170 80% 40%;
  --chart-14: 170 75% 50%;
  --chart-15: 170 70% 60%;
  --chart-16: 170 95% 40%;
  --chart-17: 170 60% 55%;
    }
    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 142 86% 28%;
      --primary-foreground: 356 29% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 72% 51%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 142 86% 28%;
      --chart-1: 170 88% 28%; 
  --chart-2: 170 75% 35%; 
  --chart-3: 170 70% 45%; 
  --chart-4: 170 65% 55%; 
  --chart-5: 170 60% 65%; 
  --chart-6: 170 85% 35%; 
  --chart-7: 170 80% 40%; 
  --chart-8: 170 75% 50%; 
  --chart-9: 170 70% 60%; 
  --chart-10: 170 60% 70%;
  --chart-11: 170 90% 25%;
  --chart-12: 170 85% 30%;
  --chart-13: 170 80% 40%;
  --chart-14: 170 75% 50%;
  --chart-15: 170 70% 60%;
  --chart-16: 170 95% 40%;
  --chart-17: 170 60% 55%;
      }
  }

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}